/* Start Varlables */
:root {
  --main-color: #EC294C;
  --sec-color: #19191A;
  --font-color: #fafafa;
  --main-transtation: 0.4s ease-in-out;
  --sec-transtation: 0.5s ease-in-out;
}

/* End Varlables */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* Start Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--text-color);
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.418);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* End Scroll Bar */

/* Start global Rules */

* {
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-family: 'Baloo Bhaijaan 2', cursive;
}

html {
scroll-behavior: smooth;
}

a {
text-decoration: none;
}

li {
list-style: none;
}

/* End global Rules */

/* Start Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo img {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

/* End Header */

/* Start Services Section */

section {
  padding: 50px 200px 0;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

h1 {
  color: var(--main-color);
  font-weight: 800;
  font-size: 42px;
}

h2 {
  color: var(--sec-color);
  font-weight: 700;
  font-size: 38px;
  margin-top: -20px;
}

.prag {
  color: var(--sec-color);
  font-weight: 700;
  font-size: 20px;
  margin-top: -5px;
}

.services {
  margin-top: -25px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 18em;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.356);
  transition: var(--main-transtation);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.15);
  background-color: var(--font-color);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.10);
}

.icon-serv img {
  width: 50%;
}

.info h2 {
  margin-top: 2px;
  font-size: 24px;
  font-weight: 800;
  color: var(--main-color);
}

.info h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--sec-color);
  margin-bottom: 10px;
}

.btn-main {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 25px;
  border-radius: 25px;
  background-color: var(--font-color);
  transition: var(--sec-transtation);
}

.btn-main:hover {
  color: var(--font-color);
  background-color: var(--main-color);
}

/*============== Start Social Media Icons ============== */

.whatsapp_float {
position:fixed;
width:60px;
height:60px;
bottom:40px;
left:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
  z-index:100;
}
.phone_float {
position:fixed;
width:60px;
height:60px;
bottom:120px;
right:40px;
background-color:#0084ff;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
  z-index:100;
}
.massenger_float {
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#0084ff;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
  z-index:100;
}
.icon-z {
margin-top:15px;
}

/* for mobile */
@media screen and (max-width: 767px){
  .icon-z {
    margin-top: 10px;
  }
  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      left: 10px;
      font-size: 22px;
  }
  .massenger_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
  .phone_float {
      width: 40px;
      height: 40px;
      bottom: 70px;
      right: 10px;
      font-size: 22px;
  }
}
/*============== End Social Media Icons ============== */

/* End Services Section */

/* Start Google Map */

.mapouter {
  position:relative; 
  text-align:center;
  height:250px;
  width:250px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:250px;
  width:250px;
}

.map {
padding: 5px 150px;
}

.map h3 {
color: var(--main-color);
margin-bottom: 20px;
}

.map i {
color: var(--main-color);
font-size: 20px;
}
.map .adress {
  margin-bottom: 5px;
}
.map a {
color: var(--sec-color);
font-size: 18px;
}

.container {
position: relative;
padding: 2rem;
margin-top: 60px;
background-color: #fafafa;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

.board {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

form {
display: flex;
flex-direction: column;
padding: 5px 150px;
border-radius: 10px;
max-width: 100%;
width: 800px;
}

form h3 {
color: var(--main-color);
margin-bottom: 20px;
}

form input, form textarea {
border: 1px solid var(--sec-color);
margin: 10px 0;
padding: 14px;
outline: none;
font-family: 'Baloo Bhaijaan 2', cursive;
font-size: 18px;
border-radius: 15px;
}

form button {
padding: 10px;
background-color: var(--main-color);
color: var(--font-color);
font-family: 'Baloo Bhaijaan 2', cursive;
border: none;
outline: none;
cursor: pointer;
font-size: 18px;
width: 150px;
margin: 20px 0;
border-radius: 25px;
}

/* End Google Map */

@media (max-width: 1526px) {
.container {
  padding: 0;
}
.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

@media (max-width: 1600px) {
.container {
  padding: 0;
}
.board {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: center;
  text-align: center;
}
form button {
  margin: 20px auto 0;
}
}

@media (max-width: 768px) {
  header {
      align-items: center;
  }
  section {
      padding: 25px 10px;
  }
  h1 {
      font-size: 36px;
  }
  
  h2 {
      font-size: 32px;
  }
  
  p.prag {
      font-size: 18px;
  }
  .board {
    align-items: center;
  }
  form {
    max-width: 100%;
    width: 700px;
    text-align: center;
    margin-bottom: 20px;
  }
  form::after {
    content: "";
    border-bottom: 1px solid var(--main-color);
    max-width: 100%;
    width: 80px;
    margin: 50px auto 0;
  }
  form button {
    margin: 20px auto 0;
  }
  .map {
    text-align: center;
  }
}
